.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.Heading {
  color: red;
  margin: 0;
}

.controls {
  display: flex;
  gap: 10px;
}

.controls select,
.controls input {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.search-wrapper {
  position: relative;
  width: 280px;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

/* focus effect */
.search-input:focus {
  border-color: #fb641b;
  box-shadow: 0 0 8px rgba(251, 100, 27, 0.4);
}

/* icon */
.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
}
.search{
  position: relative;
  width: 280px;
}